/* CSS Document */
:root {
	--custom-blue-shade: #7991B3;
	--custom-box-shadow: #D8D8D8;
}

.content {
	background-color: #FCFCFC;
	border: 1px var(--custom-blue-shade) solid;
	border-radius:5px;
	box-shadow: 8px 8px 5px var(--custom-box-shadow);
	margin-bottom:30px;
	padding: 1ch;
}

.mapGrid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 3px;
	grid-row-gap: 3px;
	padding: 0;
}

.gridCell {
	justify-self: center;
	align-self: center;
}

nav img{
	width: 1em;
	height: 1em;
}

.gridCell img, .cardheader img {
	width: 3em;
	height: 3em;
}

.fullGrid {
	grid-column: 1 / 11;
	grid-row: 1 / 11;
	justify-self: left;
	align-self: start;
	width: 100%;
}

.grid_01_01 {
	grid-column: 1;
	grid-row: 1;
}

.grid_02_02 {
	grid-column: 2;
	grid-row: 2;
}

.grid_02_03 {
	grid-column: 2;
	grid-row: 3;
}

.grid_02_04 {
	grid-column: 2;
	grid-row: 4;
}

.grid_02_07 {
	grid-column: 2;
	grid-row: 7;
}

.grid_03_02 {
	grid-column: 3;
	grid-row: 2;
}

.grid_05_02 {
	grid-column: 5;
	grid-row: 2;
}

.grid_05_03 {
	grid-column: 5;
	grid-row: 3;
}

.grid_05_04 {
	grid-column: 5;
	grid-row: 4;
}

.grid_05_05 {
	grid-column: 5;
	grid-row: 5;
}

.grid_07_02 {
	grid-column: 7;
	grid-row: 2;
}

.grid_07_03 {
	grid-column: 7;
	grid-row: 3;
}

.grid_07_04 {
	grid-column: 7;
	grid-row: 4;
}

.grid_07_05 {
	grid-column: 7;
	grid-row: 5;
}

.grid_07_06 {
	grid-column: 7;
	grid-row: 6;
}

.grid_09_02 {
	grid-column: 9;
	grid-row: 2;
}

.fullscreen {
	overflow: scroll;
	z-index: 10;
	background-color: white;
	grid-column: 1 / 11;
	grid-row: 1 / 11;
	padding: 5ch;
}

.fullscreen img {
	width: 100%;
	max-width: 750px;
}

iframe {
	height: 315px;
    width: 516px;
    max-width: 100%;
    max-height: 100%;
}

.st_top {
    text-align:center;
    padding:5px;
}

.st_topbar {
    background-color: var(--custom-blue-shade);
    width:100%;
    height:25px;
}

.st_bodybg {
	background-image:url('../img/5745686-Vintage-Old-Karte-und-Kompass-Konzepte--Lizenzfreie-Bilder.jpg');
	background-position:center 35%;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-size:100%;
}

.st_img {
    max-width:100%;
}

.st_bottom {
    text-align:right;
	padding-top:15px;
    padding-right:15px;
    padding-bottom:5px;
}

.st_content {
    margin-bottom:5%;
}

.st_leftspace {
    margin-left:5%;
}

.st_opt {
    background-color: #FFFFFF;
	border: 1px var(--custom-blue-shade) solid;
    border-radius:5px;
	box-shadow: 3px 3px 5px var(--custom-box-shadow);
    text-align:center;
    padding:5px;
	margin-top:5%;
}


body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1em;
}

a, a:visited {
	text-decoration:none;
}

p a:hover {
	text-decoration: underline;
}

.banner {
	background-image:url('../img/5745686-Vintage-Old-Karte-und-Kompass-Konzepte--Lizenzfreie-Bilder.jpg');
	background-position:center 35%;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-size:100%;
	padding: 60px;
	border-radius: 6px;
	margin-bottom:30px;
	text-align:center;
	color: white;
	text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
	font-size:6em;
	font-weight: 500;
	line-height: 1.15em;
}

header {
	background-color: #f8f8f8;
	border: 1px var(--custom-box-shadow) solid;
	border-radius: 4px;
	min-width: 250px;
	max-width: 1920px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	left: 2%;
	position: fixed;
	top: -4px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	z-index: 1000;
	width: 96%;
	font-size: 0.75em;
}

main {
	width: 96%;
	margin-left: 2%;
	margin-top: 4em;
}

nav {
	-webkit-flex-wrap: nowrap;
	color: rgb(51, 51, 51);
	display: flex;
	flex-wrap: nowrap;
	font-weight: 300;
	line-height: 2.5em;
	font-size: 1.5em;
	margin-left: 0.75em;
}

nav ul {
	list-style: none;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.15em;
	padding: 0;
	margin: 0;
	background-color: #f8f8f8;
}

nav > ul > li {
	float:left;
}

nav > ul > li > ul {
	display: none;
}

nav > ul > li:hover > ul {
  display: block;
  position: absolute;
  -webkit-transition: .1s ease color;
  transition: .1s ease color;
}

nav > ul > li > ul > li {
  position: relative;
}

nav > ul a {
	color: #333;
	font-weight: 400;
	margin: 4px 4px;
	padding: 6px;
	width: 20%;
	max-width: 250px;
	display: block;
	text-decoration: none;
}

nav > ul a:hover {
	color: #fff;
}

nav > ul li:hover {
	background-color: var(--custom-blue-shade);
	color: white;
}

nav > ul li:hover > a{
	color: white;
}

.button:hover, input[type=submit]:hover {
	color: #333;
}

input:invalid {
  border: 2px solid #ff0000;
}

.invalid {
	border: 2px solid #ff0000;
}

.spnw, :target ~ .default {
	display: none;
	transition: all 0.5s;
}

.default, :target {
  display:block;
  transition: all 0.5s;
}

input[type=text], input[type=password], select, textarea {
  width: 97.5%;
  padding: 12px;
  border: 1px solid var(--custom-blue-shade);
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit], .button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-decoration: none;
  font-size: 1.15em;
}

fieldset {
	border: 1px var(--custom-blue-shade) solid;
	border-radius: 4px;
}

.cancel {
	background-color: #F54C50;
	float: left;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin:10px 10px;
  display:inline-block;
  vertical-align: text-top;
}

div.cardheader {
	background-color: var(--custom-blue-shade);
	color: #FFFFFF;
	padding: 10px;
	font-size: 40px;
}

div.cardbody {
	padding: 10px;
	padding-top:16px;
	padding-bottom:16px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
	width: 100%;
	margin-top: 0;
  }
  
  .banner {
	  font-size: 2em;
  }
  .gridCell img, .cardheader img {
	width: 1em;
	height: 1em;
	}
}

.bg-danger {
    background-color: #f2dede;
}

.bg-success {
    background-color: #dff0d8;
}

.bg-warning {
    background-color: #fcf8e3;
}

.lead {
    margin-bottom: 20px;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.4;
}

.text-justify {
    text-align: justify;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 1em;
    border-left: 5px solid #eee;
}

svg .country {
    fill:#cccccc;
    stroke:#000000;
    stroke-linecap:round;
}

svg .country:hover {
    fill:#ccffcc;
    stroke:#000000;
    stroke-linecap:round;
}

svg .zone {
    fill-opacity:0.5;
    fill-rule:evenodd;
    stroke:#000000;
    stroke-width:1px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
}

.legende {
    	z-index:5;
	background-color: white;
	position: absolute;
	right: 10%;
	margin-top: 10vh;
}

#iconwrapper {
    z-index:4;
    position:absolute;
    font-size:2.5em;
    font-size:calc( 1.75em + 0.5vw);
}

.subtrop {
    background-color:#b7c963;
    opacity: 0.5;
}

svg .subtrop {
    fill:#b7c963;
}

.passat {
    background-color:#c9b763;
    opacity: 0.5;
}
svg .passat {
    fill:#c9b763;
}

.wechsel {
    background-color:#c98763;
    opacity: 0.5;
}

svg .wechsel {
    fill:#c98763;
}

.aequatorial {
    background-color:#c96363;
    opacity: 0.5;
}

svg .aequatorial {
    fill:#c96363;
}

.hartlaub {
    background-color:#63c9aa;
    opacity: 0.5;
}

svg .hartlaub {
    fill:#63c9aa;
}

.wuste {
    background-color:#c3c963;
    opacity: 0.5;
}

svg .wuste {
    fill:#c3c963;
}

.savanne {
    background-color:#886718;
    opacity: 0.5;
}

svg .savanne {
    fill:#886718;
}

.regenwald {
    background-color:#00e61a;
    opacity: 0.5;
}

svg .regenwald {
    fill:#00e61a;
}
