<div class="st_main">
			<div class="st_top">
				<div class="st_topbar">&nbsp;</div>
			</div>
			<div class="row">
			    <div class="col-md-2">
					&nbsp;
				</div>
				<div class="col-md-10">
					Diese interaktiven Karten wurden von Kristin Kunze und Linda Gerstenberg im Rahmen des Moduls &quot;Medien und Methoden im Geographieunterricht&quot; im Studiengang &quot;H&ouml;heres Lehramt an Gymnasien&quot; f&uuml;r das Fach Geographie an der TU Dresden erstellt.
				</div>
				<div class="col-md-2">
					&nbsp;
				</div>
			</div>
		</div>
