{{ define "admin" }}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
	<meta name="description" content="Interaktive Karten Geographie">
	<meta name="keywords" content="Karten, Geographie">
	<meta name="robots" content="all">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Interaktive Karten im Geographieunterricht</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<link href="/static/css/normalize.css" rel="stylesheet">
	  <link href="/static/css/style.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Start</a></li>
					<li><a href="#">Afrika</a>
					<ul>
						<li><a href="/afrika">Aufgaben&uuml;bersicht</a></li>
						<hr>
						<li><a href="/afrika/klima">Klimazonen</a></li>
						<li><a href="/afrika/klima-los">Klimazonen (L&ouml;sung)</a></li>
						<hr>
						<li><a href="/afrika/vegetation">Vegetationszonen</a></li>
						<li><a href="/afrika/vegetation-los">Vegetationszonen (L&ouml;sung)</a></li>
					</ul>
					</li>
					<li><a href="/about">Autoren</a></li>
					<li><a href="/quellen">Quellen</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div class="banner">Administration</div>
			<div>
				<section class="spnw" id="update">
					<form action="/admin" method="post">
						<input type="hidden" name="action" value="updatepw" />
						<fieldset>
							<legend>Afrika</legend>
							<div class="row">
								<div class="col-25">
									<label for="afrika-klima-lospw">L&ouml;sungspasswort Klimazonen</label>
								</div>
								<div class="col-75">
									<input type="text" id="afrika-klima-lospw" name="afrika-klima-lospw" value="{{ .Afrika_klima_lospw }}" required />
								</div>
							</div>
							<div class="row">
								<div class="col-25">
									<label for="afrika-vegetation-lospw">L&ouml;sungspasswort Vegetationszonen</label>
								</div>
								<div class="col-75">
									<input type="text" id="afrika-vegetation-lospw" name="afrika-vegetation-lospw" value="{{ .Afrika_vegetation_lospw }}" required />
								</div>
							</div>
						</fieldset>
						<br />
						<a href="#show" class="button cancel">Abbrechen</a><input type="submit" value="Speichern" />
					</form>
				</section>
				<section id="show" class="spnw default">
					<fieldset>
						<legend>Afrika</legend>
						<div class="row">
							<div class="col-25">L&ouml;sungspasswort Klimazonen:</div>
							<div class="col-75">{{ .Afrika_klima_lospw }}</div>
						</div>
						<div class="row">
							<div class="col-25">L&ouml;sungspasswort Vegetationszonen:</div>
							<div class="col-75">{{ .Afrika_vegetation_lospw }}</div>
						</div>
					</fieldset>
					<br />
					<a href="#update" class="button">&Auml;ndern</a>
				</section>
			</div>
		</main>
	</body>
</html>
{{ end }}
