{{define "grouphead"}}
<div class="banner">Interaktive Karten: Afrika</div>
{{end}}
{{ define "content" }}
<div class="content"><div class="fullGrid">
	<h1>Die Vegetations- und Klimazonen Afrikas</h1>
	<h2>zum &Uuml;ben und Wiederholen</h2>
	<p class="lead">Du findest in den interaktiven Karten zu den Vegetations- bzw. Klimazonen Afrikas verschiedene Aufgaben.</p>
	<ol class=" lead text-justify st_leftspace">
		<li>F&uuml;lle die Legenden der Karten f&uuml;r die Klima- und Vegetationszonen aus!</li>
		<li>Verschaffe dir einen &Uuml;berblick zu den Aufgaben!</li>
		<li>Bearbeite Aufgaben aus den interaktiven Karten!</li>
		<ol type="a">
		    <li>Bearbeite aus der interaktiven Karte zu den Vegetationszonen <strong>entweder</strong> Aufgabe V1 <strong>oder</strong> Aufgabe V2a <strong>oder</strong> Aufgabe V2b!</li>
		    <li>Bearbeite aus der interaktiven Karte zu den Klimazonen <strong>entweder</strong> Aufgabe K1 <strong>oder</strong> Aufgabe K2a bis c!</li>
		    <li>Nutze die restliche Zeit, um dich mit weiteren Aufgaben deiner Wahl zu besch&auml;ftigen. Am Ende der Stunde solltest du insgesamt <strong>mindestens</strong> drei Aufgaben bearbeitet haben!</li>
		</ol>
		<li>&Uuml;berpr&uuml;fe deine Ergebnisse im L&ouml;sungsbereich. Das Passwort daf&uuml;r kannst du dir bei deinem Lehrer abholen.</li>
	</ol>
	<p class="lead">Bei Fragen kannst du dich jederzeit an deinen Lehrer wenden!</p>
	<p class="lead">Viel Spa&szlig;!</p>
</div></div>
{{ end }}
