{% if score != 4 and current_user.is_authenticated == false %}
{% if score < 4 %}<p class="bg-danger">Du hast leider nur {{ score }} von 4 Klimazonen richtig zugeordnet!</p>{% endif %}
<h3>Aufgabe <small>Ordne die Klimazonen zu!</small></h3>
<form action="/afrika-klima/" method="post">
    <input type="hidden" name="afgnr" value="1" />
    <input type="hidden" name="status" value="posted" />
    <div class="row" style="margin:2px;">
        <div class="col-md-2 subtrop form-control-static">&nbsp;</div>
        <div class="col-md-10{%if cat1 and cat1 != 'subtrop' %} has-error{% endif %}">
            <select name="cat1" class="form-control">
                <option value="none"{% if cat1 == 'none' %} selected{% endif %}>-- Treffe deine Wahl --</option>
                <option value="aequatorial"{% if cat1 == 'aequatorial' %} selected{% endif %}>&Auml;quatoriale Klimazone</option>
                <option value="gemaessigt"{% if cat1 == 'gemaessigt' %} selected{% endif %}>Gem&auml;ßigte Klimazone</option>
                <option value="passat"{% if cat1 == 'passat' %} selected{% endif %}>Passatklimazone</option>
                <option value="polar"{% if cat1 == 'polar' %} selected{% endif %}>Polare Klimazone</option>
                <option value="subpolar"{% if cat1 == 'subpolar' %} selected{% endif %}>Subpolare Klimazone</option>
                <option value="subtrop"{% if cat1 == 'subtrop' %} selected{% endif %}>Subtropische Klimazone</option>
                <option value="wechsel"{% if cat1 == 'wechsel' %} selected{% endif %}>Zone des tropischen Wechselklimas</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin:2px;">
        <div class="col-md-2 passat form-control-static">&nbsp;</div>
        <div class="col-md-10{%if cat2 and cat2 != 'passat' %} has-error{% endif %}">
            <select name="cat2" class="form-control">
                <option value="none"{% if cat2 == 'none' %} selected{% endif %}>-- Treffe deine Wahl --</option>
                <option value="aequatorial"{% if cat2 == 'aequatorial' %} selected{% endif %}>&Auml;quatoriale Klimazone</option>
                <option value="gemaessigt"{% if cat2 == 'gemaessigt' %} selected{% endif %}>Gem&auml;ßigte Klimazone</option>
                <option value="passat"{% if cat2 == 'passat' %} selected{% endif %}>Passatklimazone</option>
                <option value="polar"{% if cat2 == 'polar' %} selected{% endif %}>Polare Klimazone</option>
                <option value="subpolar"{% if cat2 == 'subpolar' %} selected{% endif %}>Subpolare Klimazone</option>
                <option value="subtrop"{% if cat2 == 'subtrop' %} selected{% endif %}>Subtropische Klimazone</option>
                <option value="wechsel"{% if cat2 == 'wechsel' %} selected{% endif %}>Zone des tropischen Wechselklimas</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin:2px;">
        <div class="col-md-2 wechsel form-control-static">&nbsp;</div>
        <div class="col-md-10{%if cat3 and cat3 != 'wechsel' %} has-error{% endif %}">
            <select name="cat3" class="form-control">
                <option value="none"{% if cat3 == 'none' %} selected{% endif %}>-- Treffe deine Wahl --</option>
                <option value="aequatorial"{% if cat3 == 'aequatorial' %} selected{% endif %}>&Auml;quatoriale Klimazone</option>
                <option value="gemaessigt"{% if cat3 == 'gemaessigt' %} selected{% endif %}>Gem&auml;ßigte Klimazone</option>
                <option value="passat"{% if cat3 == 'passat' %} selected{% endif %}>Passatklimazone</option>
                <option value="polar"{% if cat3 == 'polar' %} selected{% endif %}>Polare Klimazone</option>
                <option value="subpolar"{% if cat3 == 'subpolar' %} selected{% endif %}>Subpolare Klimazone</option>
                <option value="subtrop"{% if cat3 == 'subtrop' %} selected{% endif %}>Subtropische Klimazone</option>
                <option value="wechsel"{% if cat3 == 'wechsel' %} selected{% endif %}>Zone des tropischen Wechselklimas</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin:2px;">
        <div class="col-md-2 aequatorial form-control-static">&nbsp;</div>
        <div class="col-md-10{%if cat4 and cat4 != 'aequatorial' %} has-error{% endif %}">
            <select name="cat4" class="form-control">
                <option value="none"{% if cat4 == 'none' %} selected{% endif %}>-- Treffe deine Wahl --</option>
                <option value="aequatorial"{% if cat4 == 'aequatorial' %} selected{% endif %}>&Auml;quatoriale Klimazone</option>
                <option value="gemaessigt"{% if cat4 == 'gemaessigt' %} selected{% endif %}>Gem&auml;ßigte Klimazone</option>
                <option value="passat"{% if cat4 == 'passat' %} selected{% endif %}>Passatklimazone</option>
                <option value="polar"{% if cat4 == 'polar' %} selected{% endif %}>Polare Klimazone</option>
                <option value="subpolar"{% if cat4 == 'subpolar' %} selected{% endif %}>Subpolare Klimazone</option>
                <option value="subtrop"{% if cat4 == 'subtrop' %} selected{% endif %}>Subtropische Klimazone</option>
                <option value="wechsel"{% if cat4 == 'wechsel' %} selected{% endif %}>Zone des tropischen Wechselklimas</option>
            </select>
        </div>
    </div>
    
    <button type="submit" class="btn btn-default">Absenden &raquo;</button>
</form>
{% else %}
{% if current_user.is_authenticated == false %}<p class="bg-success">Du hast alle Klimazonen richtig zugeordnet!</p>{% endif %}
<h3>Legende <small>Klimazonen</small></h3>
<div class="row" style="margin:2px;">
    <div class="col-md-2 subtrop form-control-static">&nbsp;</div>
    <div class="col-md-10 form-control-static">Subtropische Klimazone</div>
</div>
<div class="row" style="margin:2px;">
    <div class="col-md-2 passat form-control-static">&nbsp;</div>
    <div class="col-md-10 form-control-static">Passatklimazone</div>
</div>
<div class="row" style="margin:2px;">
    <div class="col-md-2 wechsel form-control-static">&nbsp;</div>
    <div class="col-md-10 form-control-static">Zone des tropischen Wechselklimas</div>
</div>
<div class="row" style="margin:2px;">
    <div class="col-md-2 aequatorial form-control-static">&nbsp;</div>
    <div class="col-md-10 form-control-static">&Auml;quatoriale Klimazone</div>
</div>
<script>
    $('#iconwrapper').collapse('show');
</script>
<!--<div id="K1" class="st_opt text-center"><a href="#" onClick="showInfo('K1')" title="Aufgabe K1"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a></div>
<div id="K2a" class="st_opt text-center"><a href="#" onClick="showInfo('K2a')" title="Aufgabe K2a"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a></div>
<div id="K2b" class="st_opt text-center"><a href="#" onClick="showInfo('K2b')" title="Aufgabe K2b"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a></div>
<div id="K2c" class="st_opt text-center"><a href="#" onClick="showInfo('K2c')" title="Aufgabe K2c"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a></div>
<div id="K3" class="st_opt text-center"><a href="#" onClick="showInfo('K3')" title="Aufgabe K3"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span></a></div>
<div id="K4" class="st_opt text-center"><a href="#" onClick="showInfo('K4')" title="Aufgabe K4"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></div>
<div id="K5" class="st_opt text-center"><a href="#" onClick="showInfo('K5')" title="Aufgabe K5"><span class="glyphicon glyphicon-tent" aria-hidden="true"></span></a></div>-->
{% endif %}
