{{define "mapoverlay"}}
<path
     class="hartlaub zone"
     d="M 0.07184272,56.921523 C 35.338442,44.34104 109.51207,173.40273 170.14587,137.97283 c 84.76359,-9.48692 148.62967,-45.842059 254.29075,-28.46076 68.05835,9.69316 134.11268,31.41044 204.17505,29.07948 72.29084,0.9686 134.72452,-39.609282 202.57519,-39.198732 L 1199.0644,146.01609 1200.3361,-0.03431417 0.14368538,-0.04075346 Z"
     id="hartlaub"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccc" />
     
     <path
     sodipodi:nodetypes="cccccccsssccccccc"
     inkscape:connector-curvature="0"
     id="wusteN"
     d="M -0.54686956,56.921127 C 34.71973,44.340637 108.89336,173.40233 169.52716,137.97243 c 84.76359,-9.48692 148.62967,-45.842063 254.29075,-28.46076 68.05835,9.69316 134.11268,31.41044 204.17505,29.07948 72.29084,0.9686 134.72452,-39.609282 202.57519,-39.198732 l 369.42435,46.623272 1.2183,418.27995 c 0,0 -43.5656,46.85866 -97.0686,6.85086 -9.14,-6.83456 65.1448,-125.56717 48.3604,-125.77342 -39.3751,-0.48386 -167.37486,57.30026 -127.9407,-34.89694 18.8692,-44.11621 -45.0688,-111.66458 -100.39254,-118.89743 -131.60628,36.71055 -133.86169,75.12057 -203.60739,72.49361 -50.15642,1.62515 -116.25401,30.90379 -174.63221,19.17894 C 435.65263,404.98968 330.50184,313.7924 263.4742,357.15557 206.24178,348.54697 154.33474,328.60044 95.5745,332.55573 c -65.636245,1.86898 -36.909761,21.44558 -95.74017079,-0.1614 z"
     class="wuste zone" />
     
     <path
     class="savanne zone"
     d="M 0.69055499,352.6656 C 35.957155,340.08511 92.188129,357.15988 117.55533,377.41409 c 8.66198,14.02414 65.10351,0.56134 158.39035,23.51107 68.05835,9.69316 194.12777,-6.94973 265.42756,2.47485 72.29084,0.9686 83.3714,-16.09822 151.22207,-15.68767 39.6153,8.73525 110.67496,12.31173 122.55816,24.96834 12.63628,4.81268 61.64266,136.15016 60.90967,149.4692 l 102.41125,153.73027 223.15701,-7.18525 -1.5807,-143.50854 c -1.344,3.21563 -21.8778,18.46865 -43.379,21.81222 -23.772,3.69671 -44.7254,-10.01639 -52.5295,-15.85208 -9.14,-6.83458 65.1448,-125.56717 48.3604,-125.77342 -39.3751,-0.48386 -167.37486,57.30026 -127.9407,-34.89694 18.8692,-44.11621 -45.0688,-111.66458 -100.39254,-118.89743 -131.60628,36.71055 -133.86169,75.12057 -203.60739,72.49361 -50.15642,1.62515 -116.25401,30.90379 -174.63221,19.17894 C 435.65263,404.98968 330.50184,313.7924 263.4742,357.15557 206.24178,348.54697 154.33474,328.60044 95.5745,332.55573 c -65.636245,1.86898 -36.909761,21.44558 -95.74017079,-0.1614 z"
     id="dornenstrauchN"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccccssssccccccc" />
     <path
     class="zone"
     style="fill:url(#smalldots);"
     d="M 0.69055499,352.6656 C 35.957155,340.08511 92.188129,357.15988 117.55533,377.41409 c 8.66198,14.02414 65.10351,0.56134 158.39035,23.51107 68.05835,9.69316 194.12777,-6.94973 265.42756,2.47485 72.29084,0.9686 83.3714,-16.09822 151.22207,-15.68767 39.6153,8.73525 110.67496,12.31173 122.55816,24.96834 12.63628,4.81268 61.64266,136.15016 60.90967,149.4692 l 102.41125,153.73027 223.15701,-7.18525 -1.5807,-143.50854 c -1.344,3.21563 -21.8778,18.46865 -43.379,21.81222 -23.772,3.69671 -44.7254,-10.01639 -52.5295,-15.85208 -9.14,-6.83458 65.1448,-125.56717 48.3604,-125.77342 -39.3751,-0.48386 -167.37486,57.30026 -127.9407,-34.89694 18.8692,-44.11621 -45.0688,-111.66458 -100.39254,-118.89743 -131.60628,36.71055 -133.86169,75.12057 -203.60739,72.49361 -50.15642,1.62515 -116.25401,30.90379 -174.63221,19.17894 C 435.65263,404.98968 330.50184,313.7924 263.4742,357.15557 206.24178,348.54697 154.33474,328.60044 95.5745,332.55573 c -65.636245,1.86898 -36.909761,21.44558 -95.74017079,-0.1614 z"
     id="dornenstrauchNfill"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccccssssccccccc" />
     
     <path
     sodipodi:nodetypes="ccccccccsccsccc"
     inkscape:connector-curvature="0"
     id="trocken"
     d="M 0.69055499,352.6656 C 35.957155,340.08511 92.188129,357.15988 117.55533,377.41409 c 8.66198,14.02414 65.10351,0.56134 158.39035,23.51107 68.05835,9.69316 194.12777,-6.94973 265.42756,2.47485 72.29084,0.9686 83.3714,-16.09822 151.22207,-15.68767 39.6153,8.73525 110.67496,12.31173 122.55816,24.96834 12.96497,10.01921 37.21638,77.29457 37.21638,77.29457 -69.26315,10.57019 -95.94344,-48.82352 -118.43961,-34.82565 -14.93794,43.62792 -89.10912,17.04413 -138.54952,21.02926 -54.84734,4.42096 -95.94641,-28.79739 -127.263,-35.08711 -77.02746,-36.4485 -77.03451,58.11399 -196.99912,45.91521 -32.47717,-4.88504 -103.42704,-13.15822 -131.6185,-20.19235 -21.48853,-5.36166 -21.67813,-70.67357 -47.094224,-68.96275 -65.636245,1.86898 -33.741137,0.69673 -92.57154679,-20.91025 z"
     class="savanne zone" />
     
     <path
     style="fill:url(#mediumdots);"
     class="zone"
     d="M 0.69055499,352.6656 C 35.957155,340.08511 92.188129,357.15988 117.55533,377.41409 c 8.66198,14.02414 65.10351,0.56134 158.39035,23.51107 68.05835,9.69316 194.12777,-6.94973 265.42756,2.47485 72.29084,0.9686 83.3714,-16.09822 151.22207,-15.68767 39.6153,8.73525 110.67496,12.31173 122.55816,24.96834 12.96497,10.01921 37.21638,77.29457 37.21638,77.29457 -69.26315,10.57019 -95.94344,-48.82352 -118.43961,-34.82565 -14.93794,43.62792 -89.10912,17.04413 -138.54952,21.02926 -54.84734,4.42096 -95.94641,-28.79739 -127.263,-35.08711 -77.02746,-36.4485 -77.03451,58.11399 -196.99912,45.91521 -32.47717,-4.88504 -103.42704,-13.15822 -131.6185,-20.19235 -21.48853,-5.36166 -21.67813,-70.67357 -47.094224,-68.96275 -65.636245,1.86898 -33.741137,0.69673 -92.57154679,-20.91025 z"
     id="trockenfill"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccccccsccsccc" />
     
     <path
     class="savanne zone"
     d="M -0.54686956,452.89699 C 34.71973,440.3165 262.334,535.34902 287.70121,555.60323 c 8.66198,14.02414 22.41236,-63.16603 115.6992,-40.2163 68.05835,9.69316 133.49397,35.74142 204.79376,45.166 72.29084,0.9686 201.54544,52.57884 198.2442,83.925 -2.11109,57.92799 53.07475,174.79107 60.77586,154.66885 2.14407,-5.60223 95.54221,-106.73578 95.54221,-106.73578 -7.44451,-12.25674 -31.90078,-47.51487 -44.99875,-66.89524 0,0 -35.24578,-59.02328 -41.97042,-58.77572 8.01527,1.97595 -23.41742,-76.76479 -23.41742,-76.76479 -69.26315,10.57019 -95.94344,-48.82352 -118.43961,-34.82565 -14.93794,43.62792 -89.10912,17.04413 -138.54952,21.02926 -54.84734,4.42096 -95.94641,-28.79739 -127.263,-35.08711 -77.02746,-36.4485 -77.03451,58.11399 -196.99912,45.91521 -32.47717,-4.88504 -103.42704,-13.15822 -131.6185,-20.19235 -21.48853,-5.36166 -21.67813,-70.67357 -47.094224,-68.96275 -65.636245,1.86898 -33.741137,0.69673 -92.57154679,-20.91025 z"
     id="feuchtN"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccssscccsccsccc" />
     
     <path
     sodipodi:nodetypes="cccccssscccsccsccc"
     inkscape:connector-curvature="0"
     id="feuchtNfill"
     d="M -0.54686956,452.89699 C 34.71973,440.3165 262.334,535.34902 287.70121,555.60323 c 8.66198,14.02414 22.41236,-63.16603 115.6992,-40.2163 68.05835,9.69316 133.49397,35.74142 204.79376,45.166 72.29084,0.9686 201.54544,52.57884 198.2442,83.925 -2.11109,57.92799 53.07475,174.79107 60.77586,154.66885 1.99611,-5.21563 83.111,-91.71474 95.39108,-106.19593 0,0 -30.30827,-45.92198 -44.84762,-67.43509 0,0 -35.24578,-59.02328 -41.97042,-58.77572 8.01527,1.97595 -23.41742,-76.76479 -23.41742,-76.76479 -69.26315,10.57019 -95.94344,-48.82352 -118.43961,-34.82565 -14.93794,43.62792 -89.10912,17.04413 -138.54952,21.02926 -54.84734,4.42096 -95.94641,-28.79739 -127.263,-35.08711 -77.02746,-36.4485 -77.03451,58.11399 -196.99912,45.91521 -32.47717,-4.88504 -103.42704,-13.15822 -131.6185,-20.19235 -21.48853,-5.36166 -21.67813,-70.67357 -47.094224,-68.96275 -65.636245,1.86898 -33.741137,0.69673 -92.57154679,-20.91025 z"
     style="fill:url(#largedots);"
     class="zone" />
     
     <path
     sodipodi:nodetypes="ccccccsccsccc"
     inkscape:connector-curvature="0"
     id="regenwald"
     d="M -0.54686956,452.89699 C 34.71973,440.3165 262.334,535.34902 287.70121,555.60323 c 8.66198,14.02414 22.41236,-63.16603 115.6992,-40.2163 68.05835,9.69316 133.49397,35.74142 204.79376,45.166 72.29084,0.9686 201.54544,52.57884 198.2442,83.925 0.85235,47.20184 14.88937,67.35647 18.92846,88.9189 10.8743,18.69067 -6.31133,14.87761 -11.56467,16.23777 -53.26874,13.79195 -112.48773,0.28742 -143.80432,-6.0023 -26.27796,-0.13636 -21.1874,7.55546 -50.59041,22.91891 -32.47717,-4.88504 -71.33752,-16.58312 -99.52898,-23.61725 C 498.38992,737.5723 299.72338,720.34627 274.30728,722.05709 208.67104,723.92607 59.902164,649.74577 1.0717538,628.13879 Z"
     class="regenwald zone" />
     
     <path
     class="savanne zone"
     d="M -0.54686956,801.85071 C 174.81873,808.5909 365.63724,834.54196 521.57445,871.14649 c 68.05835,9.69316 80.90343,-95.42558 152.20322,-86.001 29.62154,-7.78412 5.17329,-36.14661 -3.77983,-41.51319 -26.27796,-0.13636 -21.1874,7.55546 -50.59041,22.91891 -32.47717,-4.88504 -71.33752,-16.58312 -99.52898,-23.61725 C 498.38992,737.5723 299.72338,720.34627 274.30728,722.05709 208.67104,723.92607 59.902164,649.74577 1.0717538,628.13879 Z"
     id="feuchtS"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccsccc" />
     
     <path
     sodipodi:nodetypes="cccccsccc"
     inkscape:connector-curvature="0"
     id="feuchtSfill"
     d="M -0.54686956,801.85071 C 174.81873,808.5909 365.63724,834.54196 521.57445,871.14649 c 68.05835,9.69316 80.90343,-95.42558 152.20322,-86.001 29.62154,-7.78412 5.17329,-36.14661 -3.77983,-41.51319 -26.27796,-0.13636 -21.1874,7.55546 -50.59041,22.91891 -32.47717,-4.88504 -71.33752,-16.58312 -99.52898,-23.61725 C 498.38992,737.5723 299.72338,720.34627 274.30728,722.05709 208.67104,723.92607 59.902164,649.74577 1.0717538,628.13879 Z"
     style="fill:url(#largedots);"
     class="zone" />
     
     <path
     sodipodi:nodetypes="cccccssccccsscc"
     inkscape:connector-curvature="0"
     id="trockenS"
     d="m 785.46645,985.0153 c -25.89489,-61.4061 -419.82921,-150.47334 -263.892,-113.86881 68.05835,9.69316 80.90343,-95.42558 152.20322,-86.001 29.62154,-7.78412 6.04828,-37.0216 -3.77983,-41.51319 -23.65299,-2.76133 56.68682,12.36791 89.84569,11.98152 34.45967,-0.51008 49.04124,-4.92314 55.13822,-6.3138 6.27535,-1.43134 14.97693,0.38124 13.93511,-8.46046 0,0 22.69258,56.12133 35.13455,61.27923 4.37437,-3.95286 99.24501,-109.0289 99.24501,-109.0289 l 14.752,22.61844 223.86078,-7.00032 c 0,0 -13.1635,88.66873 -58.1186,145.89758 -43.526,55.40954 -109.8558,160.90201 -120.9799,220.78201 -6.4182,34.5487 -165.96183,6.9371 -170.3953,5.3088 -23.68682,-29.0281 -66.01288,-19.0833 -66.94895,-95.6811 z"
     class="savanne zone" />
     
     <path
     style="fill:url(#mediumdots);"
     class="zone"
     d="m 785.46645,985.0153 c -25.89489,-61.4061 -419.82921,-150.47334 -263.892,-113.86881 68.05835,9.69316 80.90343,-95.42558 152.20322,-86.001 29.62154,-7.78412 6.04828,-37.0216 -3.77983,-41.51319 -23.65299,-2.76133 56.68682,12.36791 89.84569,11.98152 34.45967,-0.51008 49.04124,-4.92314 55.13822,-6.3138 6.27535,-1.43134 14.97693,0.38124 13.93511,-8.46046 0,0 22.69258,56.12133 35.13455,61.27923 4.37437,-3.95286 99.24501,-109.0289 99.24501,-109.0289 l 14.752,22.61844 223.86078,-7.00032 c 0,0 -13.1635,88.66873 -58.1186,145.89758 -43.526,55.40954 -109.8558,160.90201 -120.9799,220.78201 -6.4182,34.5487 -165.96183,6.9371 -170.3953,5.3088 -23.68682,-29.0281 -66.01288,-19.0833 -66.94895,-95.6811 z"
     id="trockenSfill"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccssccccsscc" />
     
     <path
     class="savanne zone"
     d="m 1049.4147,1069.8363 c 0,0 22.6925,-81.25232 35.1345,-76.09442 4.3744,-3.95286 56.3705,-100.27898 56.3705,-100.27898 l 60.2515,-43.8809 0.738,-140.87399 c 0,0 -13.1635,88.66873 -58.1186,145.89758 -43.526,55.40954 -109.8558,160.90201 -120.9799,220.78201 6.4495,7.4873 22.1371,3.0898 26.604,-5.5513 z"
     id="feuchtM"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccscc" />
     
     <path
     sodipodi:nodetypes="cccccscc"
     inkscape:connector-curvature="0"
     id="feuchtMfill"
     d="m 1049.4147,1069.8363 c 0,0 22.6925,-81.25232 35.1345,-76.09442 4.3744,-3.95286 56.3705,-100.27898 56.3705,-100.27898 l 60.2515,-43.8809 0.738,-140.87399 c 0,0 -13.1635,88.66873 -58.1186,145.89758 -43.526,55.40954 -109.8558,160.90201 -120.9799,220.78201 6.4495,7.4873 22.1371,3.0898 26.604,-5.5513 z"
     style="fill:url(#largedots);"
     class="zone" />
     
     <path
     sodipodi:nodetypes="cccccccc"
     inkscape:connector-curvature="0"
     id="regenwaldM"
     d="m 1049.4147,1069.8363 c 0,0 22.6925,-81.25232 35.1345,-76.09442 4.3744,-3.95286 56.3705,-100.27898 56.3705,-100.27898 l 60.2515,-43.8809 -0.7557,242.3464 -75.0623,0.7995 c -33.2993,-6.8069 -97.177,16.2375 -102.5318,-17.2373 6.4495,7.4873 22.1264,2.9868 26.5933,-5.6543 z"
     class="regenwald zone" />
     
     <path
     sodipodi:nodetypes="cccccsccc"
     inkscape:connector-curvature="0"
     id="wusteS"
     d="M -0.54686956,801.85071 C 174.81873,808.5909 365.63724,834.54196 521.57445,871.14649 c 68.05835,9.69316 47.65376,212.57131 118.95355,221.99591 16.49667,15.8407 65.54769,38.2277 87.21927,22.3612 3.46863,24.3779 3.21711,89.6658 -19.09073,71.9184 -16.52515,-26.1544 -82.71241,-51.5828 -115.27882,-60.3669 -21.38314,-5.7676 -249.90478,-81.2121 -275.32088,-79.5013 C 252.4206,1049.4228 59.027173,1028.617 0.19676251,1007.01 Z"
     class="wuste zone" />
     
     <path
     class="savanne zone"
     d="M 784.7889,984.26441 C 765.03144,939.38012 521.57445,871.14649 521.57445,871.14649 c 67.43964,8.76509 47.65376,212.57131 118.95355,221.99591 16.49667,15.8407 65.54769,38.2277 87.21927,22.3612 12.77844,-9.1468 38.07059,-12.0397 42.29612,-39.1312 -11.1165,-21.7679 13.40399,-16.3532 14.74551,-92.10799 z"
     id="dornenstrauchS"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccccc" />
     
     <path
     sodipodi:nodetypes="cccccc"
     inkscape:connector-curvature="0"
     id="dorenstrauchSfill"
     d="M 784.7889,984.26441 C 765.03144,939.38012 521.57445,871.14649 521.57445,871.14649 c 67.43964,8.76509 47.65376,212.57131 118.95355,221.99591 16.49667,15.8407 65.54769,38.2277 87.21927,22.3612 12.77844,-9.1468 38.07059,-12.0397 42.29612,-39.1312 -11.1165,-21.7679 13.40399,-16.3532 14.74551,-92.10799 z"
     style="fill:url(#smalldots);"
     class="zone" />
     
     <path
     class="hartlaub zone"
     d="M 0.58440074,1229.2529 1201.06,1230.7057 l -1.013,-138.6336 c -8.1438,-0.3835 -73.3055,1.3385 -74.6001,0.8157 -19.0336,-7.6858 -99.3085,15.5511 -102.35,-16.679 -0.3377,-3.5785 -0.5557,-0.7477 -1.8085,2.4199 -11.2307,28.3957 -167.09239,7.4558 -169.36376,1.9492 -8.15737,-19.7763 -69.79727,-19.7961 -66.32083,-95.45653 0.0359,-0.7813 -0.95087,1.07384 -0.84365,5.04732 1.49062,55.24081 -26.05289,69.27631 -14.30258,85.03101 0.41015,30.0711 -61.28833,45.6523 -42.71031,40.3039 3.46863,24.3779 3.21711,89.6658 -19.09073,71.9184 -16.52515,-26.1544 -82.71241,-51.5828 -115.27882,-60.3669 -21.38314,-5.7676 -249.90478,-81.2121 -275.32088,-79.5013 C 252.4206,1049.4228 59.027173,1028.617 0.19676251,1007.01 Z"
     id="hartlaubS"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="cccsssssscccsccc" />
     
     <path
     style="fill:url(#largedots);"
     class="zone"
     d="m 905.27757,430.18051 c 4.76136,9.62513 -42.11353,63.47657 -1.28444,78.98309 50.40334,12.20706 106.63797,12.83496 86.49029,-18.62263 -37.56774,-28.36637 -3.97218,-117.16014 -50.546,-113.4556 0,0 -24.81927,4.0033 -34.65985,53.09514 z"
     id="feuchtOfill"
     inkscape:connector-curvature="0"
     sodipodi:nodetypes="ccccc" />
{{end}}
{{define "icons"}}
<div id="iconwrapper" class="collapse container">
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-xs-1 col-xs-offset-2">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V2a')" title="Aufgabe V2a"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-xs-offset-1">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V3c')" title="Aufgabe V3c"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a></div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-xs-1 col-xs-offset-4">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V4b')" title="Aufgabe V4b"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-xs-offset-3">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V4e')" title="Aufgabe V4e"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></div>
                </div>
                <div class="col-xs-1 col-xs-offset-2">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V1')" title="Aufgabe V1"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-xs-offset-4">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V4a')" title="Aufgabe V4a"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></div>
                </div>
                <div class="col-xs-1">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V4d')" title="Aufgabe V4d"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-xs-1 col-xs-offset-6">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V3d')" title="Aufgabe V3d"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a></div>
                </div>
                <div class="col-xs-1 col-xs-offset-1">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V2b')" title="Aufgabe V2b"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></div>
                </div>
                <div class="col-xs-1">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V3a')" title="Aufgabe V3a"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-xs-offset-5">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V4c')" title="Aufgabe V4c"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-xs-1 col-xs-offset-10">
                    <div class="st_opt text-center"><a href="#" onClick="showInfo('V3b')" title="Aufgabe V3b"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a></div>
                </div>
            </div>
        </div>
<section id="inf_V1" style="display:none; visibility:hidden">
	{{ if eq .Isauthenticated "false" }}
<ol class="lead">
    <li>Erkl&auml;re, wie du auf dem Satellitenbild Afrikas die einzelnen Vegetationszonen des Kontinents erkennen kannst!</li>
    <li>Nenne topografischen Elemente (Gebirge, Seen, etc.), die du auf dem Satellitenbild erkennen kannst?</li>
</ol>
<img src="/static/img/afrika-satellit.jpg" width="100%" />
{{ else }}
<p class="lead">L&ouml;sung 1)</p>
<blockquote>
    <p class="text-justify">Der tropische Regenwald ist durch die kr&auml;ftige gr&uuml;ne Farbe zu erkennen, die durch die dichte Bewaldung entsteht. Im Bereich der W&uuml;sten wachsen nur sehr selten Pflanzen, ein Gro&szlig;teil des Bereichs ist unbewachsen und von Sand und Steinen bedeckt, im Satellitenbild kann das durch die braune oder gr&auml;uliche F&auml;rbung erkannt werden. Der Übergang von W&uuml;ste zu tropischem Regenwald, in dem sich die Savannen befinden und die Vegetation in Richtung tropischen Regenwald zunimmt, ist durch eine graugr&uuml;ne F&auml;rbung gekennzeichnet. </p>
    <p class="text-justify">Im Norden Afrikas ist ein schmales gr&uuml;nes Band zu erkennen, welches die Zone der Hartlaubgew&auml;chse darstellt.</p>
</blockquote>
<p class="lead">L&ouml;sung 2)</p>
<blockquote>
    <p class="text-justify">Victoriasee, Tanganjikasee, Malawisee, Madagaskar</p>
</blockquote>
{{ end }}

</section>
<section id="inf_V2a" style="display:none; visibility:hidden">
	{{ if eq .Isauthenticated "false" }}
<p class="lead">Werte das Satellitenbild aus! Gehe dabei folgenderma&szlig;en vor:</p>
<ol class="lead">
    <li>Finde heraus, um welches Gebiet es sich handelt (die Lage der Aufgabe in der interaktiven Karte gibt dir einen Hinweis)! Nimm, wenn n&ouml;tig, deinen Atlas zur Hilfe.</li>
    <li>Gliedere das Bild in verschiedene Fl&auml;chen (z. B. Land- und Wasserfl&auml;chen, bewachsene und nichtbewachsene Fl&auml;chen, etc.)!</li>
    <li>Fertige eine Skizze des Satellitenbildes an!</li>
    <ol type="a">
        <li>Teile deine Skizze entsprechend deiner in Aufgabe 2 unterschiedenen Fl&auml;chen ein!</li>
        <li>Markiere die unterschiedlichen Fl&auml;chen mit geeigneten Farben und fertige eine Legende an!</li>
    </ol>
    <li>Nenne die Vegetationszonen, die auf dem Satellitenbild zu erkennen sind!</li>
</ol>
<img src="/static/img/afrika-satellit2a.jpg" width="100%" />
{{ else }}
<p class="lead">L&ouml;sung 1)</p>
<blockquote>
    <p class="text-justify">Atlasgebirge und angrenzend die Sahara</p>
</blockquote>
<p class="lead">L&ouml;sung 2) und 3)</p>
<blockquote>
    <img src="/img/V2a-Loes.jpg" width="100%" />
</blockquote>
<p class="lead">L&ouml;sung 4)</p>
<blockquote>
    <p class="text-justify">Hartlaubvegetation, W&uuml;ste</p>
</blockquote>
{{ end }}

</section>
<section id="inf_V2b" style="display:none; visibility:hidden">
	{{ if eq .Isauthenticated "false" }}
<p class="lead">Werte das Satellitenbild aus! Gehe dabei folgenderma&szlig;en vor:</p>
<ol class="lead">
    <li>Finde heraus, um welches Gebiet es sich handelt (die Lage der Aufgabe in der interaktiven Karte gibt dir einen Hinweis)! Nimm, wenn n&ouml;tig, deinen Atlas zur Hilfe.</li>
    <li>Gliedere das Bild in verschiedene Fl&auml;chen (z. B. Land- und Wasserfl&auml;chen, bewachsene und nichtbewachsene Fl&auml;chen, etc.)!</li>
    <li>Fertige eine Skizze des Satellitenbildes an!</li>
    <ol type="a">
        <li>Teile deine Skizze entsprechend deiner in Aufgabe 2 unterschiedenen Fl&auml;chen ein!</li>
        <li>Markiere die unterschiedlichen Fl&auml;chen mit geeigneten Farben und fertige eine Legende an!</li>
    </ol>
    <li>Nenne die Vegetationszonen, die auf dem Satellitenbild zu erkennen sind!</li>
</ol>
<img src="/static/img/afrika-satellit2b.jpg" width="100%" />
{{ else }}
<p class="lead">L&ouml;sung 1)</p>
<blockquote>
    <p class="text-justify">Victoriasee und angrenzendes ostafrikanisches Seenhochland</p>
</blockquote>
<p class="lead">L&ouml;sung 2) und 3)</p>
<blockquote>
    <img src="/static/img/V2b-Loes.jpg" width="100%" />
</blockquote>
<p class="lead">L&ouml;sung 4)</p>
<blockquote>
    <p class="text-justify">tropischer Regenwald, Feuchtsavanne, Trockensavanne</p>
</blockquote>
{{ end }}

</section>
<section id="inf_V3a" style="display:none; visibility:hidden">
	<p class="lead">H&ouml;r dir die Ger&auml;usche aus dem Masai Mara Nationalpark in Kenia an, um dir einen besseren Eindruck von dem Gebiet verschaffen zu k&ouml;nnen!</p>
<audio controls>
    <source src="/static/sounds/african_savanna2.ogg" type="audio/ogg">
    <source src="/static/sounds/african_savanna2.mp3" type="audio/mpeg">
    <p class="bg-danger">Dein Browser unterst&uuml;tzt keine Audioausgabe!</p>
</audio>
</section>
<section id="inf_V3b" style="display:none; visibility:hidden">
	<p class="lead">H&ouml;r dir die Ger&auml;usche aus dem Regenwald von Madagaskar an, um dir einen besseren Eindruck von dem Gebiet verschaffen zu k&ouml;nnen!/p>
<audio controls>
    <source src="/static/sounds/madagascar.ogg" type="audio/ogg">
    <source src="/static/sounds/madagascar.mp3" type="audio/mpeg">
    <p class="bg-danger">Dein Browser unterst&uuml;tzt keine Audioausgabe!</p>
</audio>
</section>
<section id="inf_V3c" style="display:none; visibility:hidden">
	<p class="lead">H&ouml;r dir das Lied eines Volksstammes aus der Sahara an, um dir einen besseren Eindruck von dem Gebiet verschaffen zu k&ouml;nnen!</p>
<audio controls>
    <source src="/static/sounds/sahara-singing.ogg" type="audio/ogg">
    <source src="/static/sounds/sahara-singing.mp3" type="audio/mpeg">
    <p class="bg-danger">Dein Browser unterst&uuml;tzt keine Audioausgabe!</p>
</audio>
</section>
<section id="inf_V3d" style="display:none; visibility:hidden">
	<p class="lead">H&ouml;r dir das typische Ger&auml;usch des Senegalliest (einem typischen Vogel mit Lebensraum zwischen den achten Breitengraden) an, um dir einen besseren Eindruck von dem Gebiet verschaffen zu k&ouml;nnen!</p>
<audio controls>
    <source src="/static/sounds/african-bird.ogg" type="audio/ogg">
    <source src="/static/sounds/african-bird.mp3" type="audio/mpeg">
    <p class="bg-danger">Dein Browser unterst&uuml;tzt keine Audioausgabe!</p>
</audio>
</section>
<section id="inf_V4a" style="display:none; visibility:hidden">
	<p class="lead">Sieh dir die Bilder an, um dir einen besseren Eindruck von der Vegetationszone verschaffen zu k&ouml;nnen!</p>
<img src="/static/img/Feuchtsavanne_1.jpg" width="100%" /><br /><br />
<img src="/static/img/Feuchtsavanne_2.jpg" width="100%" />
</section>
<section id="inf_V4b" style="display:none; visibility:hidden">
	<p class="lead">Sieh dir die Bilder an, um dir einen besseren Eindruck von der Vegetationszone verschaffen zu k&ouml;nnen!</p>
<img src="/static/img/Sahara_1.jpg" width="100%" /><br /><br />
<img src="/static/img/Sahara_2.jpg" width="100%" /><br /><br />
<img src="/static/img/Oase.jpg" width="100%" />
</section>
<section id="inf_V4c" style="display:none; visibility:hidden">
	<p class="lead">Sieh dir die Bilder an, um dir einen besseren Eindruck von der Vegetationszone verschaffen zu k&ouml;nnen!</p>
<img src="/static/img/Regenwald_1.jpg" width="100%" /><br /><br />
<img src="/static/img/Regenwald_2.jpg" width="100%" /><br /><br />
<img src="/static/img/Regenwald_3.jpg" width="100%" />
</section>
<section id="inf_V4d" style="display:none; visibility:hidden">
	<p class="lead">Sieh dir die Bilder an, um dir einen besseren Eindruck von der Vegetationszone verschaffen zu k&ouml;nnen!</p>
<img src="/static/img/Trockensavanne1.jpg" width="100%" /><br /><br />
<img src="/static/img/Trockensavanne_2.jpg" width="100%" /><br /><br />
<img src="/static/img/Trockensavanne_3.jpg" width="100%" />
</section>
<section id="inf_V4e" style="display:none; visibility:hidden">
	<p class="lead">Sieh dir die Bilder an, um dir einen besseren Eindruck von der Vegetationszone verschaffen zu k&ouml;nnen!</p>
<img src="/static/img/Dornenstrauchsavanne_1.jpg" width="100%" /><br /><br />
<img src="/static/img/Dornenstrauchsavanne_2.jpg" width="100%" />
</section>
{{end}}
{{define "afg1"}}
     {{ if and (ne .Score 6) (eq .Isauthenticated "false") }}
     {{ if lt .Score 6 }}<p class="bg-danger">Du hast leider nur {{ .Score }} von 6 Vegetationszonen richtig zugeordnet!</p>{{ end }}
<h3>Aufgabe <small>Ordne die Vegetationszonen zu!</small></h3>
<form action="/afrika/vegetation" method="post">
    <input type="hidden" name="afgnr" value="1" />
    <input type="hidden" name="status" value="posted" />
    <div class="row" style="margin:2px;">
        <div class="col-md-2 hartlaub form-control-static">&nbsp;</div>
        <div class="col-md-10{{if ne .Cat1 "hartlaub" }} has-error{{ end }}">
            <select name="cat1" class="form-control">
                <option value="none"{{if eq .Cat1 "none" }} selected{{ end }}>-- Treffe deine Wahl --</option>
                <option value="dornenstrauch"{{if eq .Cat1 "dornenstrauch" }} selected{{ end }}>Dornenstrauchsavanne</option>
                <option value="felseis"{{if eq .Cat1 "felseis" }} selected{{ end }}>Fels- &amp; Eisregion</option>
                <option value="feuchtsavanne"{{if eq .Cat1 "feuchtsavanne" }} selected{{ end }}>Feuchtsavanne</option>
                <option value="hartlaub"{{if eq .Cat1 "hartlaub" }} selected{{ end }}>Hartlaubvegetation</option>
                <option value="laubmisch"{{if eq .Cat1 "laubmisch" }} selected{{ end }}>Laub- &amp; Mischwald</option>
                <option value="nadel"{{if eq .Cat1 "nadel" }} selected{{ end }}>Nadelwald</option>
                <option value="steppe"{{if eq .Cat1 "steppe" }} selected{{ end }}>Steppe</option>
                <option value="subtropR"{{if eq .Cat1 "subtropR" }} selected{{ end }}>Subtrop. Regenwald</option>
                <option value="trockensavanne"{{if eq .Cat1 "trockensavanne" }} selected{{ end }}>Trockensavanne</option>
                <option value="tropR"{{if eq .Cat1 "tropR" }} selected{{ end }}>Trop. Regenwald</option>
                <option value="tundra"{{if eq .Cat1 "tundra" }} selected{{ end }}>Tundra</option>
                <option value="wuste"{{if eq .Cat1 "wuste" }} selected{{ end }}>W&uuml;ste</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin:2px;">
        <div class="col-md-2 wuste form-control-static">&nbsp;</div>
        <div class="col-md-10{{if ne .Cat2 "wuste" }} has-error{{ end }}"> 
            <select name="cat2" class="form-control">
                <option value="none"{{if eq .Cat2 "none" }} selected{{ end }}>-- Treffe deine Wahl --</option>
                <option value="dornenstrauch"{{if eq .Cat2 "dornenstrauch" }} selected{{ end }}>Dornenstrauchsavanne</option>
                <option value="felseis"{{if eq .Cat2 "felseis" }} selected{{ end }}>Fels- &amp; Eisregion</option>
                <option value="feuchtsavanne"{{if eq .Cat2 "feuchtsavanne" }} selected{{ end }}>Feuchtsavanne</option>
                <option value="hartlaub"{{if eq .Cat2 "hartlaub" }} selected{{ end }}>Hartlaubvegetation</option>
                <option value="laubmisch"{{if eq .Cat2 "laubmisch" }} selected{{ end }}>Laub- &amp; Mischwald</option>
                <option value="nadel"{{if eq .Cat2 "nadel" }} selected{{ end }}>Nadelwald</option>
                <option value="steppe"{{if eq .Cat2 "steppe" }} selected{{ end }}>Steppe</option>
                <option value="subtropR"{{if eq .Cat2 "subtropR" }} selected{{ end }}>Subtrop. Regenwald</option>
                <option value="trockensavanne"{{if eq .Cat2 "trockensavanne" }} selected{{ end }}>Trockensavanne</option>
                <option value="tropR"{{if eq .Cat2 "tropR" }} selected{{ end }}>Trop. Regenwald</option>
                <option value="tundra"{{if eq .Cat2 "tundra" }} selected{{ end }}>Tundra</option>
                <option value="wuste"{{if eq .Cat2 "wuste" }} selected{{ end }}>W&uuml;ste</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin:2px;">
        <div class="col-md-2 savanne form-control-static"><svg 
                                        xmlns:svg="http://www.w3.org/2000/svg"
                                        xmlns="http://www.w3.org/2000/svg"
                                        version="1.1"
                                        id="circle1"
                                        x="0px"
                                        y="0px"
                                        width="1em"
                                        height="1em"
                                        viewBox="0 0 15 15"
                                        enable-background="new 0 0 15 15"
                                        xml:space="preserve">
                                        <circle cx="7.5" cy="7.5" r="2.5" style="stroke: none; fill: #000000" />
                        </svg>
	    </div>
        <div class="col-md-10{{if ne .Cat3 "dornenstrauch" }} has-error{{ end }}">
            <select name="cat3" class="form-control">
                <option value="none"{{if eq .Cat3 "none" }} selected{{ end }}>-- Treffe deine Wahl --</option>
                <option value="dornenstrauch"{{if eq .Cat3 "dornenstrauch" }} selected{{ end }}>Dornenstrauchsavanne</option>
                <option value="felseis"{{if eq .Cat3 "felseis" }} selected{{ end }}>Fels- &amp; Eisregion</option>
                <option value="feuchtsavanne"{{if eq .Cat3 "feuchtsavanne" }} selected{{ end }}>Feuchtsavanne</option>
                <option value="hartlaub"{{if eq .Cat3 "hartlaub" }} selected{{ end }}>Hartlaubvegetation</option>
                <option value="laubmisch"{{if eq .Cat3 "laubmisch" }} selected{{ end }}>Laub- &amp; Mischwald</option>
                <option value="nadel"{{if eq .Cat3 "nadel" }} selected{{ end }}>Nadelwald</option>
                <option value="steppe"{{if eq .Cat3 "steppe" }} selected{{ end }}>Steppe</option>
                <option value="subtropR"{{if eq .Cat3 "subtropR" }} selected{{ end }}>Subtrop. Regenwald</option>
                <option value="trockensavanne"{{if eq .Cat3 "trockensavanne" }} selected{{ end }}>Trockensavanne</option>
                <option value="tropR"{{if eq .Cat3 "tropR" }} selected{{ end }}>Trop. Regenwald</option>
                <option value="tundra"{{if eq .Cat3 "tundra" }} selected{{ end }}>Tundra</option>
                <option value="wuste"{{if eq .Cat3 "wuste" }} selected{{ end }}>W&uuml;ste</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin:2px;">
        <div class="col-md-2 savanne form-control-static"><svg 
                                        xmlns:svg="http://www.w3.org/2000/svg"
                                        xmlns="http://www.w3.org/2000/svg"
                                        version="1.1"
                                        id="circle2"
                                        x="0px"
                                        y="0px"
                                        width="1em"
                                        height="1em"
                                        viewBox="0 0 15 15"
                                        enable-background="new 0 0 15 15"
                                        xml:space="preserve">
                                        <circle cx="7.5" cy="7.5" r="5" style="stroke: none; fill: #000000" />
                                    </svg>
        </div>
        <div class="col-md-10{{if ne .Cat4 "trockensavanne" }} has-error{{ end }}">
            <select name="cat4" class="form-control">
                <option value="none"{{if eq .Cat4 "none" }} selected{{ end }}>-- Treffe deine Wahl --</option>
                <option value="dornenstrauch"{{if eq .Cat4 "dornenstrauch" }} selected{{ end }}>Dornenstrauchsavanne</option>
                <option value="felseis"{{if eq .Cat4 "felseis" }} selected{{ end }}>Fels- &amp; Eisregion</option>
                <option value="feuchtsavanne"{{if eq .Cat4 "feuchtsavanne" }} selected{{ end }}>Feuchtsavanne</option>
                <option value="hartlaub"{{if eq .Cat4 "hartlaub" }} selected{{ end }}>Hartlaubvegetation</option>
                <option value="laubmisch"{{if eq .Cat4 "laubmisch" }} selected{{ end }}>Laub- &amp; Mischwald</option>
                <option value="nadel"{{if eq .Cat4 "nadel" }} selected{{ end }}>Nadelwald</option>
                <option value="steppe"{{if eq .Cat4 "steppe" }} selected{{ end }}>Steppe</option>
                <option value="subtropR"{{if eq .Cat4 "subtropR" }} selected{{ end }}>Subtrop. Regenwald</option>
                <option value="trockensavanne"{{if eq .Cat4 "trockensavanne" }} selected{{ end }}>Trockensavanne</option>
                <option value="tropR"{{if eq .Cat4 "tropR" }} selected{{ end }}>Trop. Regenwald</option>
                <option value="tundra"{{if eq .Cat4 "tundra" }} selected{{ end }}>Tundra</option>
                <option value="wuste"{{if eq .Cat4 "wuste" }} selected{{ end }}>W&uuml;ste</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin:2px;">
        <div class="col-md-2 savanne form-control-static"><svg 
                                        xmlns:svg="http://www.w3.org/2000/svg"
                                        xmlns="http://www.w3.org/2000/svg"
                                        version="1.1"
                                        id="circle3"
                                        x="0px"
                                        y="0px"
                                        width="1em"
                                        height="1em"
                                        viewBox="0 0 15 15"
                                        enable-background="new 0 0 15 15"
                                        xml:space="preserve">
                                        <circle cx="7.5" cy="7.5" r="7.5" style="stroke: none; fill: #000000" />
                        </svg>
        </div>
        <div class="col-md-10{{if ne .Cat5 "feuchtsavanne" }} has-error{{ end }}">
            <select name="cat5" class="form-control">
                <option value="none"{{if eq .Cat5 "none" }} selected{{ end }}>-- Treffe deine Wahl --</option>
                <option value="dornenstrauch"{{if eq .Cat5 "dornenstrauch" }} selected{{ end }}>Dornenstrauchsavanne</option>
                <option value="felseis"{{if eq .Cat5 "felseis" }} selected{{ end }}>Fels- &amp; Eisregion</option>
                <option value="feuchtsavanne"{{if eq .Cat5 "feuchtsavanne" }} selected{{ end }}>Feuchtsavanne</option>
                <option value="hartlaub"{{if eq .Cat5 "hartlaub" }} selected{{ end }}>Hartlaubvegetation</option>
                <option value="laubmisch"{{if eq .Cat5 "laubmisch" }} selected{{ end }}>Laub- &amp; Mischwald</option>
                <option value="nadel"{{if eq .Cat5 "nadel" }} selected{{ end }}>Nadelwald</option>
                <option value="steppe"{{if eq .Cat5 "steppe" }} selected{{ end }}>Steppe</option>
                <option value="subtropR"{{if eq .Cat5 "subtropR" }} selected{{ end }}>Subtrop. Regenwald</option>
                <option value="trockensavanne"{{if eq .Cat5 "trockensavanne" }} selected{{ end }}>Trockensavanne</option>
                <option value="tropR"{{if eq .Cat5 "tropR" }} selected{{ end }}>Trop. Regenwald</option>
                <option value="tundra"{{if eq .Cat5 "tundra" }} selected{{ end }}>Tundra</option>
                <option value="wuste"{{if eq .Cat5 "wuste" }} selected{{ end }}>W&uuml;ste</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin:2px;">
        <div class="col-md-2 regenwald form-control-static">&nbsp;</div>
        <div class="col-md-10{{if ne .Cat6 "tropR" }} has-error{{ end }}">
            <select name="cat6" class="form-control">
                <option value="none"{{if eq .Cat6 "none" }} selected{{ end }}>-- Treffe deine Wahl --</option>
                <option value="dornenstrauch"{{if eq .Cat6 "dornenstrauch" }} selected{{ end }}>Dornenstrauchsavanne</option>
                <option value="felseis"{{if eq .Cat6 "felseis" }} selected{{ end }}>Fels- &amp; Eisregion</option>
                <option value="feuchtsavanne"{{if eq .Cat6 "feuchtsavanne" }} selected{{ end }}>Feuchtsavanne</option>
                <option value="hartlaub"{{if eq .Cat6 "hartlaub" }} selected{{ end }}>Hartlaubvegetation</option>
                <option value="laubmisch"{{if eq .Cat6 "laubmisch" }} selected{{ end }}>Laub- &amp; Mischwald</option>
                <option value="nadel"{{if eq .Cat6 "nadel" }} selected{{ end }}>Nadelwald</option>
                <option value="steppe"{{if eq .Cat6 "steppe" }} selected{{ end }}>Steppe</option>
                <option value="subtropR"{{if eq .Cat6 "subtropR" }} selected{{ end }}>Subtrop. Regenwald</option>
                <option value="trockensavanne"{{if eq .Cat6 "trockensavanne" }} selected{{ end }}>Trockensavanne</option>
                <option value="tropR"{{if eq .Cat6 "tropR" }} selected{{ end }}>Trop. Regenwald</option>
                <option value="tundra"{{if eq .Cat6 "tundra" }} selected{{ end }}>Tundra</option>
                <option value="wuste"{{if eq .Cat6 "wuste" }} selected{{ end }}>W&uuml;ste</option>
            </select>
        </div>
    </div>
    
    <button type="submit" class="btn btn-default">Absenden &raquo;</button>
</form>
{{ else }}
{{if eq .is_authenticated "false" }}<p class="bg-success">Du hast alle Vegetationszonen richtig zugeordnet!</p>{{ end }}
<h3>Legende <small>Vegetationszonen</small></h3>
<div class="row" style="margin:2px;">
    <div class="col-md-2 hartlaub form-control-static">&nbsp;</div>
    <div class="col-md-10 form-control-static">Hartlaubvegetation</div>
</div>
<div class="row" style="margin:2px;">
    <div class="col-md-2 wuste form-control-static">&nbsp;</div>
    <div class="col-md-10 form-control-static">W&uuml;ste</div>
</div>
<div class="row" style="margin:2px;">
    <div class="col-md-2 savanne form-control-static"><svg 
                                        xmlns:svg="http://www.w3.org/2000/svg"
                                        xmlns="http://www.w3.org/2000/svg"
                                        version="1.1"
                                        id="circle2"
                                        x="0px"
                                        y="0px"
                                        width="1em"
                                        height="1em"
                                        viewBox="0 0 15 15"
                                        enable-background="new 0 0 15 15"
                                        xml:space="preserve">
                                        <circle cx="7.5" cy="7.5" r="2.5" style="stroke: none; fill: #000000" />
                                    </svg></div>
    <div class="col-md-10 form-control-static">Dornenstrauchsavanne</div>
</div>
<div class="row" style="margin:2px;">
    <div class="col-md-2 savanne form-control-static"><svg 
                                        xmlns:svg="http://www.w3.org/2000/svg"
                                        xmlns="http://www.w3.org/2000/svg"
                                        version="1.1"
                                        id="circle2"
                                        x="0px"
                                        y="0px"
                                        width="1em"
                                        height="1em"
                                        viewBox="0 0 15 15"
                                        enable-background="new 0 0 15 15"
                                        xml:space="preserve">
                                        <circle cx="7.5" cy="7.5" r="5" style="stroke: none; fill: #000000" />
                                    </svg></div>
    <div class="col-md-10 form-control-static">Trockensavanne</div>
</div>
<div class="row" style="margin:2px;">
    <div class="col-md-2 savanne form-control-static"><svg 
                                        xmlns:svg="http://www.w3.org/2000/svg"
                                        xmlns="http://www.w3.org/2000/svg"
                                        version="1.1"
                                        id="circle2"
                                        x="0px"
                                        y="0px"
                                        width="1em"
                                        height="1em"
                                        viewBox="0 0 15 15"
                                        enable-background="new 0 0 15 15"
                                        xml:space="preserve">
                                        <circle cx="7.5" cy="7.5" r="7.5" style="stroke: none; fill: #000000" />
                                    </svg></div>
    <div class="col-md-10 form-control-static">Feuchtsavanne</div>
</div>
<div class="row" style="margin:2px;">
    <div class="col-md-2 regenwald form-control-static">&nbsp;</div>
    <div class="col-md-10 form-control-static">Tropischer Regenwald</div>
</div>
<script>
    $('#iconwrapper').collapse('show');
</script>
<!--<div id="V1" class="st_opt text-center"><a href="#" onClick="showInfo('V1')" title="Aufgabe V1"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></div>
<div id="V2a" class="st_opt text-center"><a href="#" onClick="showInfo('V2a')" title="Aufgabe V2a"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></div>
<div id="V2b" class="st_opt text-center"><a href="#" onClick="showInfo('V2b')" title="Aufgabe V2b"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></div>
<div id="V3a" class="st_opt text-center"><a href="#" onClick="showInfo('V3a')" title="Aufgabe V3a"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a></div>
<div id="V3b" class="st_opt text-center"><a href="#" onClick="showInfo('V3b')" title="Aufgabe V3b"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a></div>
<div id="V3c" class="st_opt text-center"><a href="#" onClick="showInfo('V3c')" title="Aufgabe V3c"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a></div>
<div id="V3d" class="st_opt text-center"><a href="#" onClick="showInfo('V3d')" title="Aufgabe V3d"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a></div>
<div id="V4a" class="st_opt text-center"><a href="#" onClick="showInfo('V4a')" title="Aufgabe V4a"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></div>
<div id="V4b" class="st_opt text-center"><a href="#" onClick="showInfo('V4b')" title="Aufgabe V4b"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></div>
<div id="V4c" class="st_opt text-center"><a href="#" onClick="showInfo('V4c')" title="Aufgabe V4c"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></div>
<div id="V4d" class="st_opt text-center"><a href="#" onClick="showInfo('V4d')" title="Aufgabe V4d"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></div>
<div id="V4e" class="st_opt text-center"><a href="#" onClick="showInfo('V4e')" title="Aufgabe V4e"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></a></div>-->
{{ end }}
{{end}}
