{{define "grouphead"}}
	<div class="banner">Interaktive Karten für den Geographieunterricht</div>
{{end}}
{{define "content"}}
<p>W&auml;hle deine Aufgaben aus!</p>
<section id="regions" class="spnw">
	<div class="card">
	  <div class="cardheader">
		<a href="#start">&laquo;</a>
	  </div>

	  <div class="cardbody">
		<a href="#start">zur&uuml;ck</a>
	  </div>
	</div>
	<div class="card">
	  <div class="cardheader">
		<a href="/afrika">Afrika</a>
	  </div>

	  <div class="cardbody">
		<a href="/afrika">Afrika</a>
	  </div>
	</div>
</section>
<section id="topic" class="spnw">
	<div class="card">
	  <div class="cardheader">
		<a href="#start">&laquo;</a>
	  </div>

	  <div class="cardbody">
		<a href="#start">zur&uuml;ck</a>
	  </div>
	</div>
	<div class="card">
	  <div class="cardheader">
		<a href="/afrika/klima">Klima</a>
	  </div>

	  <div class="cardbody">
		<a href="/afrika/klima">Klimazonen</a>
	  </div>
	</div>
	<div class="card">
	  <div class="cardheader">
		<a href="/afrika/vegetation">Vegetation</a>
	  </div>

	  <div class="cardbody">
		<a href="/afrika/vegetation">Vegetationszonen</a>
	  </div>
	</div>
</section>
<section id="start" class="spnw default">
	<div class="card">
	  <div class="cardheader">
		<a href="#regions">Regionen</a>
	  </div>

	  <div class="cardbody">
		<a href="#regions">nach Regionen ausw&auml;hlen</a>
	  </div>
	</div>
	<div class="card">
	  <div class="cardheader">
		<a href="#topic">Themen</a>
	  </div>

	  <div class="cardbody">
		<a href="#topic">nach Thema ausw&auml;hlen</a>
	  </div>
	</div>
</section>
{{end}}
