{% if current_user.is_authenticated() == false %}
<p class="lead">Sieh dir die Animation an und formuliere einen passenden Begleittext!</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8LuEuKJEGZ8" frameborder="0" allowfullscreen></iframe>
{% else %}
<p class="lead">L&ouml;sung</p>
<blockquote>
    <p class="text-justify">Warme Luft am &Auml;quator steigt auf und k&uuml;hlt sich dabei ab. Am &auml;quator entsteht ein Tiefdruckgebiet. In der abk&uuml;hlenden Luft kondensiert das Wasser in der Luft und Wolken entstehen. An der Tropopause bewegt sich die nun kalte Luft in Richtung der Pole. Am n&ouml;rdlichen und s&uuml;dlichen Wendekreis sinken die Luftmassen wieder nach unten und erw&auml;rmen sich dabei. Es entstehen Hochdruckgebiete. Von diesen Hochdruckgebieten wehen Bodenwinde zum Tiefdruckgebiet am &Auml;quator. Diese Bodenwinde werden Passate genannt. Die Passate str&ouml;men in &Auml;quatorn&auml;he zusammen und der Kreislauf schlie&szlig;t sich.</p>
</blockquote>
{% endif %}
