{% if current_user.is_authenticated == false %}
<p class="bg-warning">F&uuml;r diese Aufgabe ben&ouml;tigst du ein Tabellenblatt, das du dir bei deinem Lehrer abholen kannst.</p>
<p class="lead">Sieh dir das Video an!</p>
<ol class="lead">
    <li>Werte die Klimadiagramme unter den in der Tabelle angegebenen Gesichtspunkten aus und trage die Werte ein!</li>
    <li>Vergleiche das Klima von Gabun &uuml;ber Kamerun und Nigeria bis in den Niger!</li>
    <li>Begr&uuml;nde die Ver&auml;nderung des Klimas!</li>
</ol>
<iframe width="560" height="315" src="https://www.youtube.com/embed/EL0VWUBnzU4" frameborder="0" allowfullscreen></iframe>
{% else %}
<p class="lead">L&ouml;sung 1)</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Klimastation</th>
                <th>Jahresmitteltemperatur</th>
                <th>Maximaltemperatur<br />(Monat und Gradzahl)</th>
                <th>Minimaltemperatur<br />(Monat und Gradzahl)</th>
                <th>Jahresniederschlag</th>
                <th>Niederschlagsmaximum<br />(Monat und mm)</th>
                <th>Niederschlagsminimum (Monat und mm)</th>
                <th>arid/humid</th>
                <th>Klimazone</th>
                <th>Vegetationszone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gabun</td>
                <td>23,7&deg;C</td>
                <td>fast jeden Monat 24&deg;C</td>
                <td>Juli 21&deg;C</td>
                <td>1759mm</td>
                <td>Oktober 500mm</td>
                <td>Juli 10mm</td>
                <td>semi humid</td>
                <td>&auml;quatoriale Klimazone</td>
                <td>tropischer Regenwald</td>
            </tr>
            <tr>
                <td>s&uuml;dl. Kamerun</td>
                <td>23,3&deg;C</td>
                <td>fast jeden Monat 24&deg;C</td>
                <td>August 23&deg;C</td>
                <td>1617mm</td>
                <td>Oktober 400mm</td>
                <td>Januar 40mm</td>
                <td>humid</td>
                <td>&auml;quatoriale Klimazone</td>
                <td>tropischer Regenwald</td>
            </tr>
            <tr>
                <td>n&ouml;rdl. Kamerun</td>
                <td>27,9&deg;C</td>
                <td>M&auml;rz-April 32&deg;C</td>
                <td>Januar 24&deg;C</td>
                <td>1012mm</td>
                <td>August 300mm</td>
                <td>November – Januar 0mm</td>
                <td>semi humid</td>
                <td>Zone des trop. Wechselklimas</td>
                <td>Feuchtsavanne</td>
            </tr>
            <tr>
                <td>Nigeria</td>
                <td>27,4&deg;C</td>
                <td>April 32&deg;C</td>
                <td>Januar 22&deg;C</td>
                <td>552mm</td>
                <td>August 200mm</td>
                <td>November – M&auml;rz 0mm</td>
                <td>semi arid</td>
                <td>Zone des trop. Wechselklimas</td>
                <td>Trockensavanne</td>
            </tr>
            <tr>
                <td>s&uuml;dl. Niger</td>
                <td>28,0&deg;C</td>
                <td>Juni 34&deg;C</td>
                <td>Januar 21&deg;C</td>
                <td>188mm</td>
                <td>August 100mm</td>
                <td>November – M&auml;rz 0mm</td>
                <td>semi arid</td>
                <td>Zone des trop. Wechselkimas</td>
                <td>Dornenstrauchsavanne</td>
            </tr>
            <tr>
                <td>n&ouml;rdl. Niger</td>
                <td>26,9&deg;C</td>
                <td>Juni 35&deg;C</td>
                <td>Januar 17&deg;C</td>
                <td>16mm</td>
                <td>August 12mm</td>
                <td>Oktober – April 0mm</td>
                <td>arid</td>
                <td>Passatklimazone</td>
                <td>W&uuml;ste</td>
            </tr>
        </tbody>
    </table>
</div>
<br /><br />
<p class="lead">L&ouml;sung 2)</p>
<blockquote>
    <p class="text-justify">Die Jahresmitteltemperatur ist im s&uuml;dlichen Niger, in der Zone des tropischen Wechselklimas, am h&ouml;chsten. Die Jahresmitteltemperaturen in der &Auml;quatorialen Klimazone sind bis zu 5&deg;C geringer als in der Zone des tropischen Wechselklimas, die Jahresmitteltemperaturen der anderen Zonen liegen dazwischen. Die H&ouml;chsttemperaturen werden in der Passatklimazone erreicht und fallen von dort bis in die Zone des &Auml;quatorialen Klimas ab. Bei den Minimaltemperaturen verh&auml;lt es sich entgegengesetzt. Die w&auml;rmsten Minimaltemperaturen sind in der &auml;quatorialen Zone zu finden und nehmen bis zur Passatklimazone ab.</p>
    <p class="text-justify">Auch der Jahresniederschlag nimmt von der &auml;quatorialen Klimazone bis hin zur Passatklimazone ab. Der Unterschied ist sehr gro&szlig;. In der &Auml;quatorialen Zone f&auml;llt der meiste Regen. In der Feuchtsavanne halbiert sich der Jahresniederschlag bereits und in der Trockensavanne ist es sogar nur noch ein Drittel des Niederschlags der &auml;quatorialen Zone. In der Zone des tropischen Wechselklimas und der Passatklimazone fallen die maximalen Niederschl&auml;ge im August, in der &Auml;quatorialen Zone ist das Niederschlagsmaximum im Oktober zu finden. Das Niederschlagsminimum ist in der Zone des tropischen Wechselklimas und der Passatklimazone gleich, nur die Anzahl der Monate ohne Niederschlag ist unterschiedlich. In der &auml;quatorialen Zone gibt es keine Monate ohne Niederschl&auml;ge.</p>
    <p class="text-justify">Das Klima entwickelt sich von einem humiden Klima &uuml;ber semi-humides und semi-arides Klima zu aridem Klima in der Passatklimazone.</p>
</blockquote>
<p class="lead">L&ouml;sung 3)</p>
<blockquote>
    <p class="text-justify">Am &Auml;quator und im Bereich der &Auml;quatorialen Klimazone ist das Klima feucht und warm. Durch die starke Sonneneinstrahlung in diesem Bereich (der Einfallswinkel der Sonnenstrahlen ist sehr hoch), erw&auml;rmt sich die Luft und kann aufsteigen. Weil die Luft aufsteigt, entsteht am Boden ein Tiefdruckgebiet. Die aufsteigende Luft k&uuml;hlt sich ab und das Wasser in der Luft kondensiert, sodass sich Wolken bilden. Aufgrund der st&auml;ndigen Wolkenbildung ist der Niederschlag in der &auml;quatorialen Klimazone sehr hoch.</p> 
    <p class="text-justify">In der Passatklimazone gibt es sehr wenig Niederschlag, weil dort k&uuml;hle Luft aus der H&ouml;he absinkt und sich dabei erw&auml;rmt. Es entstehen keine Wolken bzw. vorhandene Wolken werden durch die absinkende Luft aufgel&ouml;st.</p>
    <p class="text-justify">Auch in der Passatklimazone treffen die Sonnenstrahlen in einem sehr steilen Winkel auf die Erde, weshalb es hier zu hohen Temperaturen kommt. In der Passatklimazone sind die Temperaturen h&ouml;her als am &AUml;quator, weil die Sonnenstrahlen ungehindert von Pflanzen auf die Erde treffen k&ouml;nnen, es keine bis wenig Wolken gibt, die die Sonneneinstrahlung absorbieren k&ouml;nnen und weil es auch nur sehr wenig Niederschlag gibt, der die Luft abk&uuml;hlt. In der &Auml;quatorialen Klimazone gibt es all diese Dinge und dementsprechend sind die Jahresdurchschnittstemperaturen etwa 10&deg;C geringer als in der W&uuml;ste.</p>
    <p class="text-justify">Die Zone des tropischen Wechselklimas liegt zwischen der &Auml;quatorialen Zone und der Passatzone. Die Niederschl&auml;ge sind in manchen Monaten hoch und in anderen gering, weil sie von der Verschiebung der ITC abh&auml;ngig sind. Befindet sich die ITC im Sommer in dem Bereich des tropischen Wechselklimas, gibt es h&ouml;here Niederschl&auml;ge. Wenn sich die ITC im Winter s&uuml;dlich des Äquators befindet, sind die Niederschl&auml;ge in der Zone des tropischen Wechselklimas gering, weil nun in diesem Bereich die kalte Luft absinkt und sich erw&auml;rmt und somit Wolkenbildung verhindert. Die hohen Temperaturen sind ebenfalls auf den hohen Einfallswinkel der Sonne zur&uuml;ckzuf&uuml;hren sowie auf die abnehmende Vegetation und den abnehmenden Niederschlag, welche eine starke Erw&auml;rmung der Luft beg&uuml;nstigen.</p>
</blockquote>
{% endif %}
