{{define "grouphead"}}
		<div class="jumbotron text-center st_bodybg">
			<div class="row">
				<div class="col-md-12"><h1 style="color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Interaktive Karten für den Geographieunterricht</h1></div>
			</div>
		</div>
{{end}}
{{define "content"}}
<div class="st_main">
			<div class="st_top">
				<div class="st_topbar">&nbsp;</div>
			</div>
			<div class="row">
			    <div class="col-md-2">
					&nbsp;
				</div>
				<div class="col-md-8">
					<div class="table-responsive">
					    <table class="table">
					        <thead>
					            <tr>
					                <th>Quelle</th>
					                <th>Adresse</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr>
					                <td>Hintergrund Navigation</td>
					                <td>http://previews.123rf.com/images/oersin/oersin0910/oersin091000017/5745686-Vintage-Old-Karte-und-Kompass-Konzepte--Lizenzfreie-Bilder.jpg<br /><i>Modifiziert von Paul Ritter am 04.06.2016</i></td>
				                </tr>
					            <tr>
					                <td>Grundkarte Afrika</td>
					                <td>https://commons.wikimedia.org/wiki/File:Blank_Map-Africa.svg</td>
				                </tr>
				                <tr>
				                    <td>Video K1</td>
				                    <td>https://www.youtube.com/watch?v=EL0VWUBnzU4</td>
			                    </tr>
			                    <tr>
			                        <td>Klimadiagramm K2a</td>
			                        <td>http://de.climate-data.org/location/342873/</td>
		                        </tr>
		                        <tr>
			                        <td>Klimadiagramm K2b</td>
			                        <td>http://de.climate-data.org/location/44657/</td>
		                        </tr>
		                        <tr>
			                        <td>Klimadiagramm K2c</td>
			                        <td>http://de.climate-data.org/location/408/</td>
		                        </tr>
			                    <tr>
			                        <td>Video K3</td>
			                        <td>https://www.youtube.com/watch?v=8LuEuKJEGZ8</td>
		                        </tr>
		                        <tr>
			                        <td>Lebensbericht K5 Tayo</td>
			                        <td>http://www.planet-wissen.de/natur/landschaften/trockenwuesten/pwiewuestenalslebensraum100.html<br />http://www.kindernetz.de/infonetz/tiereundnatur/wueste/sahara/-/id=69430/nid=69430/did=69440/dh3ibf/</td>
		                        </tr>
		                        <tr>
			                        <td>Lebensbericht K5 Slaka</td>
			                        <td>http://www2.klett.de/sixcms/media.php/229/24130X-0002.pdf</td>
		                        </tr>
		                        <tr>
			                        <td>Lebensbericht K5 Zola</td>
			                        <td>http://www.afrika-junior.de/de/kinder/laender/die-landschaften-afrikas/zentral-und-ostafrika-die-vulkangebiete-und-die-savannen/die-pygmaeen-voelker-der-regenwaelder.html</td>
		                        </tr>
		                        <tr>
		                            <td>Bild V1</td>
		                            <td>http://www.columbusglobus.de/globe-map/tresgrand/planet-observer_POTCAFR.jpg</td>
	                            </tr>
	                            <tr>
	                                <td>Bild V2a</td>
                                    <td>https://www.spiegel.de/images/image-309027-galleryV9-ryrw-309027.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V2b</td>
                                    <td>https://www.spiegel.de/pics/33/0,1020,1343233,00.jpg</td>
                                </tr>
                                <tr>
                                    <td>Ger&auml;usch V3a</td>
                                    <td>https://www.freesound.org/people/AugustSandberg/sounds/202876/</td>
                                </tr>
                                <tr>
                                    <td>Ger&auml;usch V3b</td>
                                    <td>https://www.freesound.org/people/CHRISFOPFILMS/sounds/346225/<br /><i>Modifiziert von Paul Ritter am 04.06.2016</i></td>
                                </tr>
                                <tr>
                                    <td>Ger&auml;usch V3c</td>
                                    <td>https://www.freesound.org/people/panta_rei/sounds/344389/</td>
                                </tr>
                                <tr>
                                    <td>Ger&auml;sch V3d</td>
                                    <td>https://www.freesound.org/people/soundbytez/sounds/114450/</td>
                                </tr>
                                <tr>
                                    <td>Bild V4a oben</td>
                                    <td>http://www.klett.de/sixcms/media.php/klett72.a.427.de/upload/feuchtsavanne_tansania_rich.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4a unten</td>
                                    <td>https://water-for-africa.org/files/content/pictures/photo/grassavanne_03722.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4b oben</td>
                                    <td>http://science-all.com/images/sahara/sahara-08.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4b mitte</td>
                                    <td>http://www.lisakristine.com/wp-content/uploads/2015/11/Lisa_Kristine_com-Dunes-Great-Sahara.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4b unten</td>
                                    <td>https://i.ytimg.com/vi/BrsDhU88Dsg/maxresdefault.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4c oben</td>
                                    <td>https://uploads.wikimedia.org/wikipedia/commons/c/c2/Bosque_dos_Jequitibás_-_IMG_9971.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4c mitte</td>
                                    <td>https://www.abenteuer-regenwald.de/frontend-kids/content/regenwald-kamerun-sky.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4c unten</td>
                                    <td>http://www.unternehmerakzente.de/wp-content/uploads/2013/07/regenwald_700x300.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4d oben</td>
                                    <td>https://uploads.wikimedia.org/wikipedia/commons/5/5a/Tarangire-Natpark800600.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4d mitte</td>
                                    <td>http://www.grusskartenfreunde.de/images/cards/landschaft/landschaften_1.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4d unten</td>
                                    <td>http://www.familienreisen.de/wp-content/uploads/2014/07/KEN_2013_1OSC_Kilimanjaro_Elefant_1014.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4e oben</td>
                                    <td>http://www.klett.de/sixcms/media.php/klett72.a.427.de/upload/dornsavanne_schulz.jpg</td>
                                </tr>
                                <tr>
                                    <td>Bild V4e unten</td>
                                    <td>http://www.geo.uni-tuebingen.de/typo3temp/pics/150a0d1f61.jpg</td>
                                </tr>
					        </tbody>
				        </table>
					</div>
				</div>
				<div class="col-md-2">
					&nbsp;
				</div>
			</div>
		</div>
{{end}}
